@model ThAmCo.Events.Data.Event

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Event</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TypeId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TypeId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.reservations)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.reservations)
        </dd>
    </dl>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Bookings.FirstOrDefault().Customer.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Bookings.FirstOrDefault().Customer.Surname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Bookings.FirstOrDefault().Customer.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Bookings.FirstOrDefault().Attended)
                </th>
            </tr>
        </thead>
        <tbody>
            <h3> Customers Booked On Event</h3>
            @foreach (var item in Model.Bookings)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Attended)
            </td>
        </tr>
            }
        </tbody>
    </table>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.StaffBookings.FirstOrDefault().staff.Surname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StaffBookings.FirstOrDefault().staff.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StaffBookings.FirstOrDefault().staff.FirstAid)
                </th>
            </tr>
        </thead>
        <tbody>
            <h3>Staff Booked On Event</h3>
            @foreach (var item in Model.StaffBookings)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.staff.Surname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.staff.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.staff.FirstAid)
                    </td>
                </tr>
            }
        </tbody>
    </table>


    @* Figuring is there is a first aider present for event *@
    @if (Model.StaffBookings.Where(e => e.staff.FirstAid).Count() == 0)
    {
        <p>
            Warning! No staff are first aid trained.
        </p>
    }
    else
    {
        <p>
            There is a first aider assigned to this event.
        </p>
    }
    <br />


    @* figuring to see if there are enough staff at the event *@
    @if (Model.StaffBookings.Where(e => e.EventId == Model.Id).Count() < (Model.Bookings.Count() / 10))
    {
        <p>
            Warning! There are more than 10 customers per member of staff.
        </p>
    }
    else
    {
        <p>
            There is a satisfactory number of staff working this event.
        </p>
    }
    <br />
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Cancel" asp-route-id="@Model.Id">Cancel</a>|
    <a asp-action="Index">Back to List</a>


</div>
