@model IEnumerable<ThAmCo.Events.Data.Event>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeId)
            </th>
            <th>
                Warnings
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TypeId)
                </td>
                <td>
                    @* Figuring is there is a first aider present for event *@
                    @if (item.StaffBookings.Where(e => e.staff.FirstAid).Count() == 0)
                    {
                        <p>
                            Warning! No staff are first aid trained.
                        </p>
                    }
                    else
                    {
                        <p>
                            There is a first aider assigned to this event.
                        </p>
                    }

                    @* figuring to see if there are enough staff at the event *@
                    @if (item.StaffBookings.Where(e => e.EventId == item.Id).Count() < (item.Bookings.Count() / 10))
                    {
                        <p>
                            Warning! There are more than 10 customers per member of staff.
                        </p>
                    }
                    else
                    {
                        <p>
                            There is a satisfactory number of staff working this event.
                        </p>
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                    <a asp-controller="GuestBookings" asp-action="Index" asp-route-id="@item.Id" asp-route-filter="Title">List Guests</a> |
                    <a asp-controller="Reservations" asp-route-id="@item.Id">Reservations</a> |
                    <a asp-controller="Staffs" asp-route-id="@item.Id">Staff List</a> 
                </td>
            </tr>
        }
    </tbody>
</table>